*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.link{
    text-decoration: none;
    color: rgb(165, 155, 155);
}
#container{
    cursor: pointer;
    width: 50%;
    margin: auto;
    text-align: center;
}
.textimg{
    height: 40vh;
    margin: 5px;
}
.para{
    padding: 10px;
}
p{
    line-height: 30px;
    margin: 0 auto;
    font-family: Montserrat Light, sans-serif; 
    font-weight: 400; 	
    font-size: 16px;
    text-transform: none; 		
    letter-spacing: 0;
}
.strng{
    line-height: 10px;
    font-weight: bolder;
    color: black;
    margin: 5px;
}
.cards{
    margin-left: 30px;
    margin-right: 25px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}
.card{
    background-color:white;
    
}
.container{
    position: relative;
}
.imgg{
    width: 100%;
    height: 50vh;
    display: block;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.details{
    text-align: left ;
    padding: 40px 40px;
}
.details>h3{
    margin: 10px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0 15px 0;
}
.details>p{
    width: 80%;
    margin: 10px;
    color: #a0a0a0;
    font-size: 16px;
    line-height: 35px;
    font-weight: 400;
}
.details>a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
hr{
    margin-top: 5px;
    height: 3px;
    width: 15%;
    background-color: black;
}
.cards-1{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}
.card-1{
    height: 70vh;
}
.img-1{
    width: 100%;
    height: 70vh;
    display: block;
}
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
  width:90%;
  margin:auto;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
  text-align: center;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 350px;
  margin-right: 40px;
  margin-bottom: 0px;
}

.product-image {
  position: relative;
  width: 100%;
 
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 70%;
  height: 80px;
  padding-top: 10px;
  margin:auto;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}
.nxt-btn img{
  width: 50%;
  height: 10vh;
}
.pre-btn img{
  width: 50%;
  height: 10vh;
}
.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

.grid{
  margin: 70px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
  align-items: center;
}
.grid>article{
  background: #fff;
  border: none;
  text-align: center;
  width: 400px;
  transition: transform .3s;
}
.grid>article img{
  width: 100%;
}

.text p{
  width: 100%;
}
.text button{
  color: black;
  padding: 10px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width:1356px){
  .grid{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:940px){
  .grid{
    grid-template-columns: repeat(1,1fr);
  }
.grid>article{
  text-align: center;
}
}
.only{
  text-align: center;
  background-color: rgb(141, 206, 236);
  height: 100vh;
}
.heading{
  padding-top:40px;
  font-weight: lighter;
  margin-top: 20px;
}
.paragraph{
  padding-top: 10px;
  width: 60%;
}
.grid-1{
  padding-bottom: 20px;
  margin: 20px 200px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 5px;
  align-items: center;
}
.grid-1>article{
  background: #fff;
  border: none;
  text-align: center;
  width: 300px;
  transition: transform .3s;
}
.grid-1>article img{
  width: 100%;
}
.imge{
  width: 60%;
}



















